<div class="case main__section">
  <div class="container">
    {% if case.promo %}
      <div class="promo case__section">
        <div class="case__item promo__content">
          {% if case.promo.title %}
            {% view "@title" with {
              title: case.promo.title|default({})|merge({
                attrs: "data-sal='slide-up' data-sal-duration='800'",
                class: "js-title promo__title"
              })
            } %}
          {% endif %}

          {% if case.promo.labels %}
            {% view "^tags" with {
              tags: case.promo.labels|merge({
                class: "promo__tags"
              })
            } %}
          {% endif %}

          {% if case.promo.text %}
            <p class="promo__text" data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'>
              {{ case.promo.text.text }}
            </p>
          {% endif %}
        </div>
        <div class="case__item promo__img" data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'>
          {% view "@image" with {
            image: case.promo.image
          } %}
        </div>
      </div>
    {% endif %}

    {% if case.business_needs %}
      <section class="business-needs case__section">
        <div class="business-needs__item case__item">
          {% if case.business_needs.title %}
            {% view "@title" with {
              title: case.business_needs.title|default({})|merge({
                attrs: "data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'",
                class: "case__title"
              })
            } %}
          {% endif %}
        </div>
        <div class="business-needs__item case__item">
          {% if case.business_needs.text %}
            <p class="case__text business-needs__text" data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'>
              {{ case.business_needs.text }}
            </p>
          {% endif %}

          {% if case.business_needs.labels %}
            {% view "^tags" with {
              tags: case.business_needs.labels
            } %}
          {% endif %}
        </div>
      </section>
    {% endif %}

    {% if case.tech_stack %}
      <section class="tech-stack case__section">
        <div class="case__item">
          {% if case.tech_stack.title %}
            {% view "@title" with {
              title: case.tech_stack.title|default({})|merge({
                attrs: "data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'",
                class: "case__title"
              })
            } %}
          {% endif %}

          {% if case.tech_stack.labels %}
            {% view "^tags" with {
              tags: case.tech_stack.labels
            } %}
          {% endif %}
        </div>
        <div class="case__item">
          <ul class="tech-stack__icons">
            {% for item in case.tech_stack.icons_list.items %}
              <li
                class="tech-stack__icons-item"
                {% if item.style %}style="background: url('./assets/images/substrate.png') no-repeat 50% / contain;"{% endif %}
              >
                {% view "@icon" with {
                  icon: item|merge({
                    class: "tech-stack__icon"
                  })
                } %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>
    {% endif %}

    {% if case.analysis_and_suggestion %}
      <section class="analysis-suggestion case__section">
        <div class="case__item">
          {% if case.analysis_and_suggestion.title %}
            {% view "@title" with {
              title: case.analysis_and_suggestion.title|default({})|merge({
                attrs: "data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'",
                class: "case__title"
              })
            } %}
          {% endif %}
        </div>
        <div class="case__item">
          {% if case.analysis_and_suggestion.text %}
            <p class="case__text" data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'>
              {{ case.analysis_and_suggestion.text }}
            </p>
          {% endif %}
        </div>
      </section>
    {% endif %}

    {% if case.functionality_design %}
      <section class="functionality-design">
        {% if case.functionality_design.title %}
          {% view "@title" with {
            title: case.functionality_design.title|default({})|merge({
              attrs: "data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'",
              class: "case__title functionality-design__title"
            })
          } %}
        {% endif %}

        {% if case.functionality_design.items %}
        <div class="functionality-design__inner">
          {% for item in case.functionality_design.items %}
            <div class="functionality-design__subinner">
              <div class="functionality-design__item functionality-design__item--text">
                {% if item.content.icons_list.top %}
                  <ul class="functionality-design__icons-list functionality-design__icons-list--top">
                    {% for icon in item.content.icons_list.top %}
                      <li class="functionality-design__icons-item">
                        {% view "@icon" with {
                          icon: icon|merge({
                            class: "functionality-design__icon"
                          })
                        } %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}

                {% if item.content.text %}
                  <p class="case__text functionality-design__text" data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'>
                    {{ item.content.text }}
                  </p>
                {% endif %}

                {% if item.content.icons_list.bottom %}
                  <ul class="functionality-design__icons-list functionality-design__icons-list--bottom">
                    {% for icon in item.content.icons_list.bottom %}
                      <li class="functionality-design__icons-item">
                        {% view "@icon" with {
                          icon: icon|merge({
                            class: "functionality-design__icon"
                          })
                        } %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
              <div class="functionality-design__item functionality-design__item--graphic" data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'>
                {% if item.image %}
                  {% view "@image" with {
                    image: item.image|default({})|merge({
                      class: "functionality-design__img"
                    })
                  } %}
                {% endif %}

                {% if item.slider %}
                  <div class="functionality-design__slider">
                    <div class="swiper js-case">
                      <div class="swiper-wrapper">
                        {% for item in item.slider.items %}
                          <div class="swiper-slide">
                            {% view "@image" with {
                              image: item|merge({
                                lazy: false
                              })
                            } %}
                          </div>
                        {% endfor %}
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-button-next">
                        {% view "@icon" with {
                          icon: {
                            name: "sprite-mono.svg#arrow-slider-right"
                          }
                        } %}
                      </div>
                      <div class="swiper-button-prev">
                        {% view "@icon" with {
                          icon: {
                            name: "sprite-mono.svg#arrow-slider-left"
                          }
                        } %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        {% endif %}
      </section>
    {% endif %}

    {% if case.resume %}
      <section class="resume case__section">
        <div class="resume__item resume__item-content">
          {% if case.resume.title %}
            {% view "@title" with {
              title: case.resume.title|default({})|merge({
                attrs: "data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'",
                class: "case__title"
              })
            } %}
          {% endif %}

          {% if case.resume.text %}
            <p class="case__text resume__text" data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'>
              {{ case.resume.text }}
            </p>
          {% endif %}
        </div>
        <div class="resume__item resume__item-img" data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'>
          {% view "@image" with {
            image: case.resume.image
          } %}
        </div>
      </section>
    {% endif %}

    {% if case.project_work %}
      <section class="project-work case__section">
        <div class="project-work__item">
          {% if case.project_work.title %}
            {% view "@title" with {
              title: case.project_work.title|default({})|merge({
                attrs: "data-sal='slide-up' data-sal-duration='800' data-sal-delay='200'",
                class: "case__title"
              })
            } %}
          {% endif %}

          {% if case.project_work.labels %}
            {% view "^tags" with {
              tags: case.project_work.labels|default({})|merge({
                class: "project-work__tags"
              })
            } %}
          {% endif %}
        </div>
      </section>
    {% endif %}
  </div>
</div>