<section class="brands {{ brands.class }}">
  <div class="container">
    <ul class="brands__list" role="list">
      {% for brand in home.brands.items %}
        <li class="brands__item">
          {% if brand.image %}
            <picture>
              <source media="(max-width:500px)" data-srcset="{{ brand.image.src_mob }}">
              <img class="lazy brands__img" src="./assets/images/pixel.png" data-src="{{ brand.image.src }}" alt="{{ brand.image.text }}">
            </picture>
          {% else %}
            <h2 class="brands__title">
              {{ brand.text }}
            </h2>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>